/out
/build
/1.7.10.ipr
/idea
/1.7.10.iml
/LICENSE-fml.txt
/1.7.10.iws
/forge-1.7.10-10.13.4.1558-1.7.10-changelog.txt
/MinecraftForge-Credits.txt
/.gradle
/CREDITS-fml.txt
/MinecraftForge-License.txt
/README.txt
# Created by .ignore support plugin (hsz.mobi)
